In [1]:
employees = [{"name": "John Mckee", "age":38, "department":"Sales"},{"name": "Lisa Crawford", "age":29, "department":"Marketing"},{"name": "Sujan Patel", "age":33, "department":"HR"}]
print(employees)

[{'name': 'John Mckee', 'age': 38, 'department': 'Sales'}, {'name': 'Lisa Crawford', 'age': 29, 'department': 'Marketing'}, {'name': 'Sujan Patel', 'age': 33, 'department': 'HR'}]

In [3]:
for employee in employees:  
    print("Name:", employee['name'])
    print("Age:", employee['age'])
    print("Department:", employee['department'])
    print('-' * 20)

Name: John Mckee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [4]:
for employee in employees:
    if employee['name'] == 'Lisa Crawford':
        print("Name:", employee['name'])
        print("Age:", employee['name'])
        print("Department:",employee['department'])
        print('-' * 20)

Name: Lisa Crawford
Age: Lisa Crawford
Department: Marketing
--------------------